/* for consistancy with the other parts */
body{
    background-color: seaGreen;
    color: black;
}
.links{
	z-index:1;
	position:sticky;
	background-color:gray;
	width:100%;
	height:48px;
	top:0px;
	left:0px;
}
.links a{
	text-align:centre;
	float:left;
	display:block;
	padding:14px ;
	color:black;
	border-bottom: 3px solid transparent;
}
.links a:hover {
  border-bottom: 3px solid blue;
}/* this bit is for show*/
.topSection{
    height: 100px;
	padding:10px;
}
.leftScore{
    text-align: center;
}
.rightScore{
    text-align: center;
}
.leftPerson{
	position:absolute;
	left:10%;
}
.rightPerson{
    display: inline-block;
    position: absolute;
    right:10%;
}/* this isn't perfect because it doesn't like me setting height as a %*/
.gameArea{
    width: 100%;
    height: 500px;
    background-color: black;
}
.winner{
	text-align:center
	
}
.paddle{
    width: 40px;
    height: 160px;
    top:50%;
    display: inline-block;
    position: relative;
    background-color: white;
}
.timeSection{
    margin:auto;
    text-align: center;
    font-size: large;
}

#rightPaddle{
    left: 95%;
}
#leftPaddle{
}
.ball{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    background-color: white;
    left: 50%;
    top: 50%;
}
td{
	padding:4px;
	text-align:centre;
}
.settingsArea{
	display:inline-block;
	width:85%;
	
}
