body{
    background-color: DarkSeaGreen;
    color: black;
}
.topSection{
    height: 100px;
}
.leftScore{
    text-align: center;
}
.rightScore{
    text-align: center;
}
.leftPerson{
    display: inline-block;
}
.rightPerson{
    display: inline-block;
    position: absolute;
    right:10%;
}
.gameArea{
    width: 100%;
    height: 500px;
    background-color: black;
}
.winner{
	text-align:center
	
}
.paddle{
    width: 40px;
    height: 160px;
    top:50%;
    display: inline-block;
    position: relative;
    background-color: white;
}
.timeSection{
    margin:auto;
    text-align: center;
    font-size: large;
}

#rightPaddle{
    left: 95%;
}
#leftPaddle{
}
.ball{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    background-color: white;
    left: 50%;
    top: 50%;
}
td{
	padding:4px;
}
.settingsArea{
	display:inline-block;
	width:85%;
	
}
